.yazi {
	color:white;
	font-size:20px;
	font-weight:bold;
	margin-top:370px;
	background-color:black;
	
}

.footer-lokum-logo {
	float:left;
	margin-left:500px;
	
}

.footer-madbyte {
	float:right;
	margin-right:490px;
}

.yaziz {
	color:white;
	font-size:20px;
	font-weight:bold;
	margin-top:200px;
	background-color:black;
	margin-left:485px;
	margin-right:410px;
}